# HTTP port the backend listens on
HTTP_PORT=8080

# Approov secret: approov secret -get base64url
APPROOV_BASE64URL_SECRET=approov_base64url_secret_here
SECRET_KEY_BASE=pAELNwln5+XQDrQzMul5+RpXlmrfbi3GsCZalKLih3nKxly+neILY18fU2FlDdME

# Localhost
SERVER_HOSTNAME=0.0.0.0

# Command that starts your server inside the container
APP_START_CMD=mix phx.server
